kind: ConfigMap
apiVersion: v1
metadata:
  name: ray-singleuser-profile
  labels:
    jupyterhub: singleuser-profiles
data:
  jupyterhub-singleuser-profiles.yaml: |
    profiles:
    - name: Ray Notebook
      images:
      - 'ray-notebook:latest'
      env:
        # this is a workaround that may not be neccesary in the future
        - name: RAY_CLIENT_MODE
          value: '1'
      services:
        ray-cluster:
          resources:
          - name: ray-cluster-template
            path: rayClusterResourceTemplate
          configuration:
            ray_image: 'quay.io/erikerlandson/ray-ubi:py-3.6-ray-864956f8'
            # number of workers currently disabled due to bug in JH launcher
            #max_workers: 5
            memory_request: '1024Mi'
            memory_limit: '1024Mi'
            cpu_request: '1'
            cpu_limit: '1'
          return:
            # This path applies to the last item in 'resources' list above
            RAY_CLUSTER: 'metadata.labels[odh-ray-cluster-service]'
